<?xml version="1.0"?>
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <!-- SESSION STATE SETTINGS
         By default ASP.NET uses cookies to identify which requests belong to a particular session.
         If cookies are not available, a session can be tracked by adding a session identifier to the URL.
         To disable cookies, set sessionState cookieless="true".
         -->
    <sessionState mode="InProc" cookieless="false" timeout="300"/>
    <authentication mode="Windows"/>
    <identity impersonate="true" userName="nsn-intra\vickriza" password="Nokia2022"/>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
<!--
        <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>

        <add assembly="Infragistics2.WebUI.UltraWebChart.v9.1, Version=9.1.20091.1015, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
        <add assembly="Infragistics2.WebUI.Shared.v9.1, Version=9.1.20091.1015, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
        <add assembly="Infragistics2.WebUI.Misc.v9.1, Version=9.1.20091.1015, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.WebUI.UltraWebGrid.v9.1, Version=9.1.20091.1015, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.WebUI.UltraWebGrid.ExcelExport.v9.1, Version=9.1.20091.1015, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.WebUI.Excel.v9.1, Version=9.1.20091.1015, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.Web.v9.1, Version=9.1.20091.1015, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
-->
        <add assembly="Microsoft.Web.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="BCL.easyPDF7.Interop.EasyPDFPrinter, Version=7.0.0.0, Culture=neutral, PublicKeyToken=7c05216a90877efb" />
		<add assembly="BCL.easyPDF7.Interop.EasyPDFLoader, Version=7.0.0.0, Culture=neutral, PublicKeyToken=7c05216a90877efb" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
    <httpRuntime executionTimeout="600" maxRequestLength="30720"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <directoryBrowse enabled="true"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <location allowOverride="true" inheritInChildApplications="true">
    <appSettings>
      <add key="AppRevWF" value="(3,4,17,19,20,31,32,33)"/>
      <add key="FTPURL" value="ftp.takeunited.com/Archive/"/>
      <add key="FTPDURL" value="ftp.takeunited.com"/>
      <add key="FOLDER" value="/Archive/"/>
      <add key="FTPUserID" value="nsn"/>
      <add key="FTPPWD" value="nsn123"/>
      <add key="conn" value="server=.;database=HCPT_Demo;User Id=sa; password=S4br1n41;Connect Timeout=300;Max Pool Size=75000"/>            
      <!--<add key="Vpath" value="https://sdmthree.nsnebast.com/h3isitedoc/"/>-->
      <add key="Vpath" value="http://localhost:8282/h3isitedoc"/>
      <add key="BufferPath" value="e:\h3isitedoc\"/>
      <add key="Fpath" value="e:\h3isitedoc\"/>
      <add key="ArPath" value="e:\PilotArchive\TI\"/>
      <add key="Type" value="\TI\"/>
      <add key="Excelfoldertype" value="TI Folder"/>
      <add key="Systemfoldertype" value="Upgrade"/>
      <!-- 
      <add key="Smailid" value="ebast.nsn@nsn.com"/>
      <add key="Rmailid" value="ebast.nsn@nsn.com"/>
      -->
      <add key="Smailid" value="nsnebast.email@gmail.com"/>
      <add key="Rmailid" value="nsnebast.email@gmail.com"/>
      <add key="smtp1" value="mx-cluster.velo.net.id"/>
      <add key="smtp" value="smtp.velo.net.id"/>
      <add key="Portno" value="25"/>
      <add key="CrystalImageCleaner-AutoStart" value="true"/>
      <add key="CrystalImageCleaner-Sleep" value="60000"/>
      <add key="CrystalImageCleaner-Age" value="120000"/>
      <add key="SName" value="203.153.105.247,1818"/>
      <add key="RDB" value="HCPT_Demo"/>
      <add key="RUsrName" value="sa"/>
      <add key="RUsrPwd" value="n5nw1nt0geth3r"/>
      <add key="EPMFolder" value="EPMRawData"/>
      <add key="EPMFile" value="EPMData"/>
      <add key="POFolder" value="PORawData"/>
      <add key="POFile" value="POData"/>
      <add key="NationalUser" value="16"/>
      <add key="filesize" value="2097152"/>
      <!--<add key="TIWWW" value="https://sdmthree.nsnebast.com"/>
      <add key="TIURL" value="https://sdmthree.nsnebast.com/Default.aspx"/>-->
      <add key="TIWWW" value="http://localhost:8282"/>
	    <add key="TIURL" value="http://localhost:8282/Default.aspx"/>
      <add key="ModemPort" value="COM5"/>
      <add key="POSheet" value="Sheet1"/>
      <add key="EPMSheet" value="Sheet1"/>
      <add key="rejmailconst" value="4"/>
      <add key="approvemailconst" value="9"/>
      <add key="uploadmailconst" value="3"/>
      <add key="BASTID" value="1032"/>
      <add key="WCTRBASTID" value="1034"/>
      <add key="BAUTID" value="1031"/>
      <add key="BOQDOCID" value="2004"/>
      <add key="BAUTmailconst" value="1"/>
      <add key="BASTmailconst" value="10"/>
      <add key="FpathTI2G" value="e:\h3isitedoc\"/>
      <add key="FpathViewLog2G" value="e:\h3isitedoc\ViewLogPDF\"/>
      <add key="finalBASTmailconst" value="11"/>
      <add key="bastteamrole" value="18"/>
      <add key="bautteamrole" value="40"/>
      <add key="crcoteamrole" value="120"/>
      <add key="BAST2ID" value="1092"/>
      <add key="ATP" value="2001,2070"/>
      <add key="BOQID" value="1035"/>
	    <add key="docwithapprovalsheet" value="2001,2045,2070,2146,2167"/>   <!--Modified by Fauzan, 1 Dec 2018. Add 1 more doc id for SSV L2-->
      <add key="APPTASKID" value="(3,4)"/>
      <add key="REVTASKID" value="(5,6)"/>
      <add key="WFBAUTBID" value="27"/>
      <add key="WFBASTBID" value="28"/>
      <add key="ATPROLEAPP" value="43"/>
      <add key="ATPROLEAPPREV" value="75"/>
      <add key="ATPOnSiteRequest" value="7"/>
      <add key="ATPOnSiteInvitDate" value="8"/>
      <add key="ATPOnSiteReject" value="9"/>
      <add key="QCID" value="2025"/>
      <add key="QCIDTI3G" value="2014"/>
      <add key="QCNSNAPP" value="11"/>
      <add key="ATPDoc" value="2029"/>
      <add key="FACDOCID" value="1031"/>
	  <add key="PACDOCID" value="2047"/>
      <add key="WCCDOCID" value="1"/>
      <add key="ScopeType" value="TI2G"/>
      <add key="SSVL2DOCID" value="2167"/>    <!--Added by Fauzan, 30 Nov 2018. SSV L2 DOCID-->
      <add key="SSVDOCID" value="2146"/>
      <add key="KPIL0DOCID" value="2145"/>
      <add key="KPIL2DOCID" value="2054"/>    <!--Added by Fauzan, 2 Dec 2018. KPI L2 DOCID-->
      <add key ="EmailApprovalUserType" value="S|N"/>   <!--Added by Fauzan, 22 Nov 2018. Email Submission Based on User Type-->
    </appSettings>
  </location>
</configuration>